<section class="section">
  <div class="container">
    <div class="tile is-ancestor is-vertical">
      
      <% @articles.each_with_index do |article, index| %>
        <%# Size of the articles alternates at each row %>
        <% size = ([2,3].include? index % 6) ? 1 : 2 %>
        <% start = [0,4].include? index % 6 %>
        <% finish = [1,5].include? index % 6 %>
        <% parentStart = index % 3 == 0 %>
        <% parentFinish = index % 3 == 2 %>

        <%# Check if parent should start%>
        <% if parentStart %><div class="tile is-parent is-12"><% end %>

        <%# Check if double row should start %>
        <% if start %><div class="tile is-parent is-vertical is-8"><% end %>

        <%# Depending on the size change style %>
        <% if size == 2 %>
          <%= render partial: 'articles/box', :locals => {:article => article, :boxClass => 'article--horizontal'} %>
        <% else %>
          <article class="tile is-parent is-4">
            <%= render partial: 'articles/box', :locals => {:article => article, :boxClass => 'article--vertical'} %>
          </article>
        <% end %>

        <%# Check if double row should end %>
        <% if finish %></div><% end %>

        <%# Check if parent should end%>
        <% if parentFinish %></div><% end %>
      <% end %>

      <%# Check if double row may not ended properly %>
      <% if [1,5].include? @articles.length % 6 %></div><% end %>

      <%# Check if parent did not ended properly %>
      <% if @articles.length % 3 != 2 %></div><% end %>

    </div>
  </div>
</section>