<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <%= render partial: 'articles/form' %>
        <br>
        <div class="field">
          <div class="control">
            <%= link_to "Take me back", :back, class: "button is-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>