// MIXINS
@mixin is-flex-row-centered {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
@mixin is-flex-column-centered {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
// 1. VARIABLES
$orange: #c23801;
$orange-light: #ece2de;
$orange-grey: #9f9895;
// 2. GENERAL
body {
  background-color: #f2f2f2;
}
.is-flex-row-centered {
  @include is-flex-row-centered;
}
.is-flex-column-centered {
  @include is-flex-column-centered;
}
.is-full {
  width: 100% !important;
  height: 100% !important;
}
.is-half-width {
  width: 50% !important;
}
.is-full-width {
  width: 100% !important;
}
.hidden {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  top: -10000px !important;
  left: -10000px !important;
}
.navbar--orange-bg {
  background-color: $orange !important;
  .button, .title {
    background-color: transparent !important;
    color: $orange-light !important;
    border: none;
  }
  .button:hover {
    background-color: $orange-light !important;
    color: $orange !important;
    border: none;
  }
  .button.is-inverted {
    background-color: $orange-light !important;
    color: $orange !important;
  }
  .button.is-inverted:hover {
    background-color: $orange-grey !important;
    color: white !important;
  }
}
.navbar--orange-grey-bg {
  background-color: $orange-grey !important;
  .button {
    background-color: transparent;
    border: 2px solid $orange-light !important;
    color: $orange-light !important;
  }
  .button:hover {
    background-color: $orange !important;
  }
}
// 3. HEADER AND NAV
.tagbar {
  @include is-flex-row-centered;
	overflow: hidden;
	width: 100vw;
	padding: 0 1rem;
	flex-wrap: wrap;
	height: 2.5rem;
}
.tag__button {
	border-width: 2px !important;
	font-weight: 600;
}
// 4. ARTICLE VIEW
.article {
  position: relative;
  overflow: hidden;
  display: flex !important;
  flex-wrap: wrap;
	border: 1px solid #ccc;
}
.article--horizontal {
  min-height: 300px !important;
  max-height: 300px;
  height: 300px;
  .article__image {
    max-width: 50%;
    max-height: 100%;
  }
}
.article--vertical {
  min-height: 624px !important;
  max-height: 624px;
  height: 624px;
  flex-direction: column;
  .article__image {
    max-width: 100%;
    max-height: 50%;
  }
}
.article--large-font {
  font-size: 2rem !important;
}
.article__image {
  background-color: #3298DC;
  border-radius: 0.2rem;
  padding: 2px;
}
.article__inner {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 1rem;
  max-height: 100%;
  overflow: hidden;
}
.article__title {
  line-height: 3rem;
  font-weight: 900;
  font-size: 1.2rem;
  @include is-flex-row-centered;
}
.article__body {
  text-indent: 1rem;
  line-height: 1.75rem;
}
.article__readme {
  position: absolute !important;
  left: 1rem;
  bottom: 1rem;
  border: 1px solid #2b795d !important;
}
.article__author {
  position: absolute !important;
  left: 1rem;
  bottom: 4rem;
  border: 1px solid #948666 !important;
}
.article__details {
  font-weight: 300;
  font-size: 14px;
}
// 5. ARTICLE EDIT
.editor__textarea {
  min-height: 300px;
  resize: vertical;
}
.editor__tags-wrap {
  display: flex;
  flex-wrap: wrap;
}
.editor__tag {
  @include is-flex-row-centered;
  padding: 0.5rem 1rem;
  background-color: $orange-light;
  border-radius: 1.5rem;
  margin: 0.25rem;
  border: 1px solid $orange-grey;
}
.editor__tag:hover {
	background-color: #ddd;
}
.editor__removeTag {
  @include is-flex-row-centered;
  background-color: white;
  height: 20px;
  width: 20px;
  margin-left: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.editor__removeTag:hover {
	background-color: #f14668;
  color: white;
}
// 6. COMMENT
.comment__thread {
  border: 1px solid #9f9895;
}
.comment__input {
  resize: none;
  height: 100px !important;
}
.comment__button {
  position: absolute !important;
  bottom: 0.5rem;
  right: 0.5rem;
}
// 7. ADD TO BULMA
.file-cta {
  border-radius: 4px 0 0 4px !important;
  justify-content: center !important;
}
.file-cta-remove {
  border-radius: 0 4px 4px 0 !important;
}
.tile.is-parent.is-12:not(last-child) {
	margin-bottom: -1.5rem;
}