// MIXINS
@mixin is-flex-row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin is-flex-column-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// 1. FONT STYLES AND IMPORTS
// 2. GENERAL
.is-flex-row-centered {
  @include is-flex-row-centered;
}
.is-flex-column-centered {
  @include is-flex-column-centered;
}
.is-full {
  width: 100% !important;
  height: 100% !important;
}
.is-half-width {
  width: 50% !important;
}
.is-full-width {
  width: 100% !important;
}
.hidden {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  top: -10000px !important;
  left: -10000px !important;
}
// 3. ARTICLE
.article {
  min-height: 300px !important;
  max-height: 300px;
  overflow: hidden;
  display: flex !important;
  flex-wrap: wrap;
}
.article__inner {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.article__image {
  max-width: 50%;
  max-height: 100%;
}
.article__title {
  height: 4rem;
  margin-top: 2rem;
  @include is-flex-row-centered;
}
// 4. ADD TO BULMA
.file-cta {
  border-radius: 4px 0 0 4px !important;
  justify-content: center !important;
}
.file-cta-remove {
  border-radius: 0 4px 4px 0 !important;
}