<header class="header">
  <section class="section p-0 header__sub">
    <%= render partial: 'common/navbar' %>
  </section>

  <section class="section p-0 header__sub">
    <%= render partial: 'common/tagbar' %>
  </section>
</header>