<nav class="navbar is-primary is-flex-row-centered">
  <div class="navbar-item">
    <div class="field is-grouped">
      <p class="control">
        <button class="button is-info is-inverted">Tag 1</button>
      </p>
      <p class="control">
        <button class="button is-info is-inverted">Tag 2</button>
      </p>
    </div>
  </div>
</nav>